.btn{
   all: unset;

   padding: 1rem 3.37rem;

   border-radius: 1rem;

   color: #111111;

   font-family: var(--font-secondary);
   font-weight: var(--font-weight-regular);
   font-size: var(--size-extra-small);

   cursor: pointer;
}

.btn:hover {
   opacity: 0.8;
}

.primary{
   background-color: var(--green-100);
}

.secondary{
   color: white;

   border: 0.12rem solid var(--green-200);
}

.secondary:hover{
   background-color: var(--green-100);
   color: #111111;
}

