.forms {
    width: 50%;
    gap: 1rem;

    position: relative;

    input, textarea {
        width: 100%;
        
        padding: 1.5rem 2rem;

        text-align: start;
        color: var(--color-font-secondary);

        background: var(--black-200);
        border: 0.15rem solid var(--black-100);
        border-radius: 0.8rem;

        -webkit-box-shadow: 108px -6px 168px 0px rgba(53, 171, 130, 0.149);
        -moz-box-shadow: 108px -6px 168px 0px rgba(53, 171, 130, 0.137);
        box-shadow: 108px -6px 168px 0px rgba(53, 171, 130, 0.039);

    }
    
}