@import './mixins';

h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--size-large);
}

h2 {
    font-weight: var(--font-weight-medium);
    font-size: var(--size-large);
}

h3 {
    font-weight: var(--font-weight-regular);
    font-size: var(--size-medium);
}

p {
    font-family: var(--font-secondary), sans-serif;
    color: var(--color-font-secondary);
    font-size: var(--size-small);
    text-align: left;
}

a {
    text-decoration: none;
    font-family: var(--font-secondary), sans-serif;
    font-size: var(--size-extra-small);
    font-weight: var(--font-weight-regular);
    color: var(--color-font-primary);
}

a:hover {
    color: var(--color-blur);
    text-decoration: underline;
}

.flex {
    display: flex;
}

.align-items {
    align-items: center
}

.justify-content {
    justify-content: center;
}

.flex-direction {
    flex-direction: column;
}

.h{
 height: 100vw;
 width: 100vw;
}

.blur {
    -webkit-box-shadow: 108px -6px 168px 0px rgba(53, 171, 130, 0.23);
    -moz-box-shadow: 108px -6px 168px 0px rgba(53, 171, 130, 0.23);
    box-shadow: 108px -6px 168px 0px rgba(53, 171, 130, 0.23);
}

@include small{
    h1, h2, h3 {
        font-family: sans-serif;
    }
     
    p {
        font-family:sans-serif;
    }
    
    a {
        font-family: sans-serif;
    }
}
