main{
    gap: 1rem;

    .conteiner{
        height: 100%;
        width: 100vw;
        padding: 2rem;
        gap: 2rem;
        
        p{
            width: 85%;
        }
        .about-cards{
            flex-wrap: wrap;
            gap: 3rem;
        }
    
    }

    .conteiner-services{
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}