@import '../../styles/mixins';
@import '../../styles/global.scss';


main{
    gap: 1rem;

    section{
        height: 100%;
        width: 100vw;
        h2{
            text-align: center;
            margin-top: 2rem;
        }
    }
    
    .conteiner{
        padding: 2rem;
        gap: 2rem;
        
        p{
            width: 85%;
        }
        .about-cards{
            gap: 3rem;
        }
        @include extraLarge{
            .about-cards{
                gap: 1rem;
            }
        }

        @include medium{
            .about-cards{
                flex-direction: column;
            }
        }
    }
    #about{
        position: relative;
    }
    @include small {
        .conteiner{
            h2{
                font-size: var(--size-medium);
            }
        }
    }

    @include extraSmall{
        .conteiner{
            h2{
                font-size: var(--size-regular);
            }

            p{
                font-size: 1rem;
            }
        }
    }

    .conteiner-services{
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .detail{
        width: 100%;
        justify-content: space-between;

        padding: 1rem 3rem;

        margin-bottom: 3rem;
        img{
            width: 40%;
            height: 40%;
        }
        .info-detail{
            flex-direction: column;
            gap: 2rem;
        }
    }

    @include regular{
        #contact{
            h2{
                font-size: var(--size-regular);
                font-weight: var(--font-weight-bold);
            }
            h3{
                font-size: 1rem;
            }
        }
    }
}
@include medium{
    .detail{
        .info-detail{
            h1{
                font-size: var(--size-medium);
            }
            p{
                font-size: 1.2rem;
            }
        }
    }
}

@include regular{
    .detail{
        flex-direction: column-reverse;
        
        .info-detail{
            
            h1{
                font-size: var(--size-regular);
            }
            p{
                font-size: 1rem;
            }
        }
    }
}

@include extraSmall{
    .detail{
        flex-direction: column-reverse;
        
        .info-detail{
            
            h1{
                font-size: var(--size-small);
            }
            p{
                font-size: 0.8rem;
            }
        }
    }
}