@import '../../styles/mixins';
main{
    gap: 1rem;

    .conteiner{
        height: 100%;
        width: 100vw;
        padding: 2rem;
        gap: 2rem;
        
        p{
            width: 85%;
        }
        .about-cards{
            gap: 3rem;
        }
        @include extraLarge{
            .about-cards{
                gap: 1rem;
            }
        }

        @include medium{
            .about-cards{
                flex-direction: column;
            }
        }
    }

    @include small {
        .conteiner{
            h2{
                font-size: var(--size-medium);
            }
        }
    }

    @include extraSmall{
        .conteiner{
            h2{
                font-size: var(--size-regular);
            }

            p{
                font-size: 1rem;
            }
        }
    }

    .conteiner-services{
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}