@import '../../styles/mixins';

.card {
    width: 33%;
    
    background: var(--black-200);
    border: 0.25rem solid var(--black-100);

    border-radius: 2rem;
    padding: 2rem;
    gap: 1rem;

    cursor: pointer;
    .card-circle{
        width: 9rem;
        height: 9rem;

        border-radius: 50%;

        background-color: var(--green-200);
        padding: 1rem;

        h3{
            font-size: 1rem;
        }
    }
    .card-info{
        gap: 1rem;
    }
    
    p {
        display: -webkit-box;
        overflow: hidden; 
        text-overflow: ellipsis; 
        -webkit-line-clamp: 4; 
        -webkit-box-orient: vertical;
    }  
    a{
        display: none;
    }

}

@include extraLarge{
    .card{
        width: calc(100%/3); 
    }
}

@include large{
    .card{
        .card-circle{
            width: 7rem;
            height: 7rem;
        }
        p{
            -webkit-line-clamp: 3; 
        }
    }
}

@include medium{
    .card{
        width: 100%;
        a{
            display: block;
        }
    }
}

.secondary-card{
    width: 45%;

    border-radius: 1rem;
   
    cursor: pointer;
    .card-circle{
        display: none;
    }
    .card-info{
        h3{
            font-size: var(--size-regular);
        }
        p{
            -webkit-line-clamp: 2; 
        }
    }
    
    @include extraSmall{
        .card-info{
            h3{
                font-size: var(--size-small);
            }
        }
    }
}

@include medium{
    .secondary-card{
        width: 100%;
    }
}

.primary-card:hover{
    width: 100%;
    height: 70vh;

    justify-content: flex-start;
    padding: 2rem;
    
    overflow: auto;
    .card-circle{
        display: none;
    }
    
    p{  
        display: block;
        z-index: 99999;
        overflow: auto;
    }
    a{
        display: none;
    }
    
}

.secondary-card:hover{
    width: 45%;

    justify-content: flex-start;
    
    padding: 1rem;

    overflow: auto;
    p{  
        display: block;
        z-index: 99999;
        overflow: auto;
    }
    a{
        display: none;
    }
}

@include medium{
    .secondary-card:hover{
        width: 100%;
    }
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}