@import '../../styles/mixins';

.card {
    width: 18rem;

    background: var(--black-200);
    border: 0.25rem solid var(--black-100);

    border-radius: 3.75rem;
    padding: 2rem;
    gap: 1rem;

    .card-circle{
        width: 9rem;
        height: 9rem;

        background-color: var(--green-200);
        padding: 1rem;

        border-radius: 50%;
        overflow: hidden;
        text-overflow: ellipsis;

        h3{
            font-size: var(--size-small);
            color: var(--green-100);
        }
    }
    .card-info{
        gap: 1rem;
    }
    
    p {
        display: -webkit-box;
        overflow: hidden; 
        text-overflow: ellipsis; 
        -webkit-line-clamp: 4; 
        -webkit-box-orient: vertical;
    }  

}

@include extraLarge{
    .card{
        width: calc(100%/3); 
    }
}

@include large{
    .card{
        .card-circle{
            width: 7rem;
            height: 7rem;
        }
        p{
            -webkit-line-clamp: 3; 
        }
    }
}

@include medium{
    .card{
        width: 100%;
    }
}

.secondary-card{
    width: 40%;
    flex-direction: row;
    justify-content: space-between;

    .card-circle{
        display: none;
    }
    .card-info{
        h3{
            font-size: var(--size-regular);
        }
        margin-left: 2rem;
    }
}