@import '../../styles/mixins';
@import '../../styles/global.scss';


.success{
    width: 100vw;
    height: 100vh;

    gap: 1rem;

    p{
        text-align: center;
    }
}

@include small{
    .success{
        h2{
            font-size: var(--size-medium);
        }
        p{
            font-size: var(--size-small);
        }
    }
}

@include extraSmall{
    .success{
        h2{
            font-size: var(--size-regular);
        }
        p{
            font-size: 1rem;
        }
    }
}