header {
    padding: 0 2rem;
    height: 95vh;

    border-bottom: 0.02rem solid #80808038;
    .conteiner-nav {
        width: 100vw;
        
        background-color: var(--color-background);
        justify-content: space-between;
        gap: 2.5rem;
        padding: 1rem 8rem;

        position: fixed;
        top: 0;

        .img-logo-header {
            width: 2.5rem;
            height: 2.5rem;

            border-radius: 50%;
            cursor: pointer;
        }
    }

    .conteiner-info {
        margin-top: 5rem;
    }

    .circle {
        width: 25rem;
        height: 25rem;

        background-color: var(--green-100);

        border-radius: 50%;

        margin-right: 6rem;

        -webkit-box-shadow: 108px -6px 168px 0px rgba(53, 171, 130, 0.23);
        -moz-box-shadow: 108px -6px 168px 0px rgba(53, 171, 130, 0.23);
        box-shadow: 108px -6px 168px 0px rgba(53, 171, 130, 0.23);

        img {
            width: 23rem;
            height: 23rem;

            border-radius: 50%;
        }
    }
    .info{
        align-items: flex-start;
        gap: 1rem;
    }

}