@import '../../styles/_mixins.scss';

header {
    padding: 0 1rem;
    height: 90vh;

    
    .conteiner-nav {
        width: 100vw;
        
        background-color: #0000000e;
        
        gap: 9rem;
        padding: 1rem 2rem;
        
        position: fixed;
        top: 0;
        z-index: 9999999999999;

        .img-logo-header {
            width: 2.5rem;
            height: 2.5rem;

            border-radius: 50%;
            cursor: pointer;
        }

        .hidden-desktop {
            gap: 3rem;
        }

        .hidden-mobile {
            display: none;
        }

        .hidden-mobile {
            display: none;

            position: absolute;
            top: 2rem;
            right: 2rem;

            .navbar-icon-mobile {
                cursor: pointer;
            }
        }

        .navbar-mobile {
            width: 10rem;
            background-color: var(--black-200);


            border-radius: 1rem;

            gap: 2rem;
            padding: 2rem;

            position: absolute;
            right: 0;
            top: 2rem;

            z-index: 99999;
        }

       
    }

    .circle {
        width: 70%;
        height: 70%;

        background-color: var(--green-100);

        border-radius: 50%;
        img {
            width: 90%;
            height: 90%;

            border-radius: 50%;
        }
        
    }

    .info {
        width: 50%;

        align-items: flex-start;
        gap: 1rem;
    }
   
    @include extraLarge{
        h1{
            font-size: 2.8rem;
        }
    }
    @include large{
        .conteiner-nav{
            justify-content: flex-start;
        }
        
        h1{
            font-size: 2.5rem;
        }

        .conteiner-nav{
            .hidden-desktop {
                display: none;
            }
    
            .hidden-mobile{
                display: flex;
            }
            z-index: 999;
        }
    }

    @include regular{
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
        }
    }

    @include small{
     .conteiner-infos{
        height: 100%;
        flex-direction: column;

        justify-content: space-evenly;

        .circle{
            width: 12rem;
            height: 12rem;
        }
     }
     
     .info{
        width: 100%;
     }
    }

    @include extraSmall{
        .conteiner-infos{
            margin-top: 3rem;
            h1{
                font-size: var(--size-regular);
            }
        }
    }
}