header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 3rem 8rem;

    .img-logo-header{
        width: 2.5rem;
        height: 2.5rem;
    }

    nav{
        display: flex;
        gap: 3rem;
    }
}