@import '../../styles/mixins';

footer{
    width: 100vw;

    border-top: 0.06rem solid var(--black-100);

    gap: 0.5rem;
    padding: 1rem;
    .info-footer{
        img{
            width: 5rem;
            height: 5rem;
    
            border-radius: 1rem;
        }

        p{
            font-size: var(--size-extra-small);
        }
    }

    .nav-footer{
        gap: 0.5rem;
        nav{
            gap: 2rem;
        }
    }

    .media-social{
        img{
            margin: 1rem;
            width: 2rem;
            height: 2rem;
        }
        img:hover{
            scale: 1.2;
        }
    }
    @include extraSmall{
        .nav-footer{
            a{
                font-size: 0.7rem;
            }
        }
    }
}