.avatar{
    width: 100vw;
    gap: 1rem;

    padding: 1rem;
    border-top: 0.06rem solid var(--black-100);

    .avatar-image{
        width: 6rem;
        height: 6rem;

        border-radius: 50%;
    }
}