@import '../../styles/mixins';

.avatar {
    width: 100vw;
    height: 90vh;
    gap: 1rem;

    padding: 2rem 1rem;

    .container-avatar {
        width: 90%;
        height: 70%;

        gap: 1rem;

        position: relative;

        border: 0.1rem solid var(--green-200);
        border-radius: 0.9rem;

        padding: 4rem 1rem;
        p{
            text-align: center;
        }
        .avatar-image {
            width: 9rem;
            height: 9rem;

            position: absolute;
            top: -6.5rem;
        }

        .name-avatar{
            color: var(--green-100);
        }

        .name-function{
            color: var(--color-blur);
        }
    }

}

@include small{
    .container-avatar{
        p{
            font-size: var(--font-size-small);
        }
    }
}