@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

:root {
  --color-background: #1B1B1B;
  --color-font-primary: #F6F6F6;
  --color-font-secondary: #969696;
  --black-100: #383F3E;
  --black-200: #151515;
  --green-100: #3FE8AB;
  --green-200: #3F6A5C;
  --color-blur: #35ab82;

  --font-primary: "Inter", sans-serif;
  --font-secondary: "Lato", sans-serif;

  --font-weight-small: 400;
  --font-weight-regular: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  --size-extra-large: 4rem;
  --size-large: 3rem;
  --size-medium: 2.5rem;
  --size-regular: 1.62rem;
  --size-small: 1.37rem;
  --size-extra-small: 0.88rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-primary), sans-serif;
  color: var(--color-font-primary);
  overflow-x: hidden;

}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background-color: var(--black-100);
  border-radius: 2rem;
}