:root {
  --color-background: #1B1B1B;
  --color-font-primary: #F6F6F6;
  --color-font-secondary: #969696;
  --black-100: #383F3E;
  --black-200: #151515;
  --green-100: #3FE8AB;
  --green-200: #3F6A5C;
  --color-blur: #35ab82;

  --font-primary: "Inter", sans-serif;
  --font-secondary: "Lato", sans-serif;

  --font-weight-small: 400;
  --font-weight-regular: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  --size-extra-large: 5rem;
  --size-large: 3.62rem;
  --size-medium: 3rem;
  --size-regular: 1.62rem;
  --size-small: 1.37rem;
  --size-extra-small: 0.88rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--color-background);
  font-family: var(--font-primary);
  color: var(--color-font-primary);
  overflow-x: hidden;

  h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--size-large);
  }

  h2 {
    font-weight: var(--font-weight-medium);
    font-size: var(--size-large);
  }

  h3 {
    font-weight: var(--font-weight-regular);
    font-size: var(--size-medium);
  }

  p {
    font-family: var(--font-secondary);
    color: var(--color-font-secondary);
    font-size: var(--size-small);
    text-align: center;
  }

  a {
    text-decoration: none;
    font-family: var(--font-secondary);
    font-size: var(--size-extra-small);
    font-weight: var(--font-weight-regular);
    color: var(--color-font-primary);
  }

  a:hover {
    color: var(--color-blur);
    text-decoration: underline;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background-color: var(--black-100);
  border-radius: 2rem;
}

.flex {
  display: flex;
}

.align-items {
  align-items: center
}

.justify-content {
  justify-content: center;
}

.flex-direction {
  flex-direction: column;
}

.blur {
  -webkit-box-shadow: 108px -6px 168px 0px rgba(53, 171, 130, 0.23);
  -moz-box-shadow: 108px -6px 168px 0px rgba(53, 171, 130, 0.23);
  box-shadow: 108px -6px 168px 0px rgba(53, 171, 130, 0.23);
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}